/* --- ESTILOS GERAIS --- */
body {
  background: rgb(255, 255, 255);
}
.container {
  text-align: left;
  padding: 2rem;
  border-radius: 8px;
}
/* .carousel-item {
  height: 40vh;
  background-color: #111;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
} */

/* ===== ESTILOS DO NAVBAR (NOVO) ===== */

/* Estilo inicial do menu: transparente e com transição suave */
.navbar {
  /* Usamos !important para garantir que nosso estilo sobreponha o do Bootstrap */
  background-color: transparent !important;
  /* A transição fará o efeito de sumir/aparecer ser animado */
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

/* Classe que será adicionada via JavaScript para esconder o menu */
.navbar-hidden {
  /* Move o menu para cima, para fora da tela */
  transform: translateY(-100%);
  /* Deixa o menu invisível */
  opacity: 0;
}


.cartoes{
  display: flex;
  
}

/* --- AJUSTES PARA DISPOSITIVOS MÓVEIS --- */
@media (max-width: 768px) {
  /* .carousel-item {
    height: 35vh;
  } */
  .container h1 {
    font-size: 1.8rem;
  }
}
